#paat-logo {
  z-index: 401;
  position: absolute;
  height: 100px;
  max-width: 50vw;
  object-fit: contain;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#map {
  height: 100%;
}

.map-button {
  z-index: 400;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15px;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  background-color: white;
  cursor: pointer;
}

#gps {
  bottom: 15px;
}

#pet {
  bottom: 86px;
}

#fence {
  bottom: 159px;
}

#fencemenu {
  z-index: 400;
  position: absolute;
  bottom: 159px;
  right: 86px;
  background-color: white;
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid black;
}
#fencemenu div {
  color: black;
  font: bold 24px Sans-Serif;
  text-align: center;
  padding: 10px;
}

#timeline {
  bottom: 232px;
}

#sound {
  bottom: 305px;
}

#light {
  bottom: 378px;
}

::ng-deep .leaflet-control {
  margin: 0 !important;
  border: none !important;
}

::ng-deep .leaflet-control-zoom-in,
::ng-deep .leaflet-control-zoom-out {
  z-index: 400;
  position: absolute;
  right: 15px;
  border-radius: 50% !important;
  width: 64px !important;
  height: 64px !important;
  background-color: white;
  cursor: pointer;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 40px !important;
  font-family: initial;
  font-weight: bold;
}

::ng-deep .leaflet-control-zoom-in {
  top: 15px;
}

::ng-deep .leaflet-control-zoom-out {
  top: 86px;
}

.button-disabled {
  opacity: 0.8;
  background-color: lightgray;
}

::ng-deep .timeline-marker {
  background-color: #ffa700;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -5px;
  margin-left: -5px;
}

::ng-deep .timeline-start {
  background-color: green;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -5px;
  margin-left: -5px;
}

::ng-deep .timeline-stop {
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -5px;
  margin-left: -5px;
}
